.preview-img {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}

.preview-img p {
  height: 260px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-img img {
  height: 260px;
  width: 260px;
  margin-right: 10px;
}
